@font-face {
    font-family: Gallient;
    src: url(../fonts/fonts/Gallient.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}


body {
    font-family: RobotoRegular;
    font-size: 1rem;
    color: white;
    background-color: black;

}

* {
  box-sizing: border-box;
}

/*box 1*/

.container {
  width: 20vw;
  height: 20vh;
  margin: 50px auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box {
  border: 1px solid white;
}

.box:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(2) {
  grid-row: 4 / 4;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(3) {
  grid-row: 4 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
  }
}

/*box 2*/
.container2 {
  width: 20vw;
  height: 20vh;
  margin: 50px auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box {
  border: 1px solid white;
}

.box:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(2) {
  grid-row: 4 / 4;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(3) {
  grid-row: 4 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
  }
}


/*box 3*/
.container3 {
  width: 20vw;
  height: 20vh;
  margin: 50px auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box {
  border: 1px solid white;
}

.box:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(2) {
  grid-row: 4 / 4;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(3) {
  grid-row: 4 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
  }
}


/*box 4*/
.container4 {
  width: 20vw;
  height: 20vh;
  margin: 50px auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box {
  border: 1px solid white;
}

.box:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(2) {
  grid-row: 4 / 4;
  grid-column: 1 / 8;
  background-color: black;
}

.box:nth-of-type(3) {
  grid-row: 4 / 2;
  grid-column: 1 / 8;
  background-color: black;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
  }
}


/*text*/
.text {
    text-align: center;
    color: white;
}

a  {
    text-align: center;
    color: white;
}
