/* load your fonts here with @font-face */
@font-face {
    font-family: lexSansBold;
    src: url(../starter-code/fonts/IBMPlexSans-Bold.woff), url(../starter-code/fonts/IBMPlexSans-Bold.woff2);
}



@font-face {
    font-family: lexSansRegular;
    src: url(../starter-code/fonts/IBMPlexSans-Regular.woff), url(../starter-code/fonts/IBMPlexSans-Regular.woff2);
}






body {
    font-family: lexSansRegular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #111;
    background-color: #fcf5ee;



}

.container {
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;

}


h1 {
    font-family: lexSansBold;
    font-size: 30px;
    color: #705c68;
      margin: 0px;



}

h2 {
    font-family: lexSansBold;
    font-size: 20px;
    color: #474746;
    margin: 0px;
    margin-bottom: -10px;

}

h3 {
    font-family: lexSansBold;
    font-size: 20px;
    color: #716f6d;
      margin: 0px;

}

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: #d67a66;     

}



p {
	font-family: arial;
    font-size: 1em;
    color: black;

}



.author {
    font-family: arial;
    font-size: 1rem;
    color: #705c68;
    margin-bottom: 30px;


}


#container-basic {
  background: #f7e2da;
  font-size: 30px;
  border-style: solid;
  border-color: #d67a66;

  float: left;
  padding:10px;
  padding-bottom: 3px;
    padding-top: 3px;
  margin-right: 5px;

}

#frenchie-pic img {
  float: right;
  width: 200px;
  height: 265px;
  object-position: 39% 0;
  object-fit: cover;
  margin: 0 0 10px 10px;
  border-radius: 4px;
  box-shadow: 6px 6px #70a092;
}





blockquote {
  letter-spacing: -0.015rem;
  background: #f7e2da;
  border-left: 3px solid #d67a66;
  margin: 2em 3em;
  padding: 2rem;
  border-radius: 0 4px 4px 0;
}

blockquote:before {
  color: #d67a66;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


.number-container {
        display: flex;
}

.number-container > div {


  background-color: #f7e2da;
  border-style: solid;
  border-color: #d67a66;
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}


#two {
position: relative;
top: 10px;
}




a {
 white-space: nowrap;
  width: fit-content;
  border-bottom: 1px solid var(--grey-accent-color);
  background: #66495c;
  background: linear-gradient(45deg, #d57966, #ce7468, #bc696b, #a15d6b, #855367, #6f4c60, #66495c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

