@font-face {
    font-family: Gallient;
    src: url(../fonts/fonts/Gallient.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

body {
    font-family: RobotoRegular;
    font-size: 1rem;
    color: white;
    background-color: black;

}


    h1 {
    font-family: Gallient;
    font-size: 4rem;
    color: gray;
    letter-spacing: 2px;
    position: relative;
    top: 20%;
    left: 5%;

}

#intro {
    text-align: justify;
    position: absolute;
    top: 250px;
    left: 150px;
    width: 35%;
    font-family: gallient;
    font-size: 15px;
    color: white;
    line-height: 1.8;
        letter-spacing: 1px;
}



#cf img {
  position:absolute;
  left:750;
  top: 250px;
  height:350px;
  width:600px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}