@font-face {
    font-family: Chomsky;
    src: url(../fonts/Chomsky.otf);
}

body {
    font-size: 1rem;
    color: black;
    background-color: whitesmoke;
}


h1 {
  font-family: Chomsky;
  font-size: 20px;
  margin: 0;
  color: #333;
  text-align: center;
  line-height: 19px;
}

h2 {
    font-family: Chomsky;
    font-size: 5rem;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.section span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.size {
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .size {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .size {
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }
}

.section {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.section:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.section article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.section .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.section .full {
  padding-bottom: 400%;
  background-size: cover;
  background-position: center center;
}

.section .parsons {
  padding-bottom: 190%;
  background-size: cover;
  background-position: center center;
}

.section .second {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
}


.section p { 
  flex: 1; 
  line-height: 1.1;
  text-align: justify;
  font-size: 1rem;
}



